# ignore backup files
*.bak

# ignore ini files
*.ini

# ignore modesim proj files
*.mpf
*.cr.mti

# ignore work folder
work/
WORK/

# ignore build folder
build/

# ignore waveform files
*.wlf

# ignore waveform files
*transcript

#script temp files
change_names
*.log
default.svf
